<div class="title">
  <fa-icon [icon]="faWrench" size="2x"></fa-icon>
  <h1>Task Manager</h1>
</div>

<div class="task-action">
  <h2>Tasks</h2>
  <button type="button" routerLink="/tasks/new">
    <fa-icon [icon]="faPlus" class="plus-icon"></fa-icon> Add Task
  </button>
</div>

<div>
  <div class="filter">
    <div style="margin-right: 5px;">Filter by status:</div>
    <mat-chip-listbox [(ngModel)]="status" (ngModelChange)="debouncedFetchTasks()">
      <mat-chip-option *ngFor="let option of statusOptions" [value]="option.value">{{option.viewValue}}</mat-chip-option>
    </mat-chip-listbox>
  </div>
  <input id="search" type="text" placeholder="Search" [formControl]="search" (input)="debouncedFetchTasks()">
</div>

<div *ngIf="tasks && tasks.length; else noTasks" class="task-list">
  <div *ngFor="let task of tasks" class="task-item">
    <div>
      <div [routerLink]="['/tasks', task._id]">
        <div class="task-title">
          <div class="users-name">
              {{ task.title }}
          </div>
          <app-badge-pill [text]="task.status" [variant]="getVariant(task.status)"></app-badge-pill>
        </div>

        <div class="greyed task-description">
          {{ task.description }}
        </div>
      </div>
    
      <div>
        <fa-icon *ngIf="task.status !== 'completed'" matTooltip="Complete task" [icon]="faCalendarCheck" class="complete-icon" size="lg" (click)="completeTask(task._id)"></fa-icon>
        <fa-icon matTooltip="Delete" [icon]="faTrash" class="trash-icon" size="lg" (click)="delete(task._id)"></fa-icon>
      </div>
    </div>

    <hr class="greyed"/>
  </div>
</div>

<ng-template #noTasks class="no-data">
  <h2>No Tasks Found</h2>
  <div>No tasks to display</div>
</ng-template>
